In [1]:
import numpy as np
import matplotlib.pyplot as plt
import os
import numpy as np
import io
import pandas as pd
import json
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras import Sequential
from tensorflow.keras import layers
from tensorflow.keras.layers import Embedding, Dense, Conv1D, MaxPooling1D, Flatten
from sklearn import preprocessing
import pickle
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\kenne\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\kenne\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

### Import Metadata CSV

In [2]:
metadata = pd.read_csv(os.getcwd() + '\movies_metadata.csv')

C:\Users\kenne\miniconda3\envs\hoMachineLearning\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
metadata.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [4]:
input_data = pd.DataFrame()
input_data['id'] = metadata['id'].copy()
input_data['title'] = metadata['title'].copy()
input_data['genres'] = metadata['genres'].copy()

In [5]:
input_data['genre'] = ''
input_data

,id,title,genres,genre
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",
...,...,...,...,...
45461,439050,Subdue,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",
45462,111109,Century of Birthing,"[{'id': 18, 'name': 'Drama'}]",
45463,67758,Betrayal,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",
45464,227506,Satan Triumphant,[],
45465,461257,Queerama,[],

In [6]:
### Just take first word
for i in range(input_data.shape[0]):
    
    json_str = input_data.iloc[i,2]
    json_str = json_str.strip('[]')
    json_str = json_str.replace('{','')
    json_str = json_str.replace('}','')
    json_list = json_str.split(',')
    for j in json_list[1:3:2]:
        word = j.split(':')[1].strip(' ').strip('\'')
    
    #words = word.strip(' ')
    input_data.iloc[i,3] = word

In [7]:
del input_data['genres']
input_data

           id                        title      genre
0         862                    Toy Story  Animation
1        8844                      Jumanji  Adventure
2       15602             Grumpier Old Men    Romance
3       31357            Waiting to Exhale     Comedy
4       11862  Father of the Bride Part II     Comedy
...       ...                          ...        ...
45461  439050                       Subdue      Drama
45462  111109          Century of Birthing      Drama
45463   67758                     Betrayal     Action
45464  227506             Satan Triumphant     Action
45465  461257                     Queerama     Action

[45466 rows x 3 columns]

### Import Keywords CSV

In [8]:
keywords = pd.read_csv(os.getcwd() + '\keywords.csv')

In [9]:
keywords.columns

Index(['id', 'keywords'], dtype='object')

In [10]:
keywords

           id                                           keywords
0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
...       ...                                                ...
46414  439050             [{'id': 10703, 'name': 'tragic love'}]
46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

[46419 rows x 2 columns]

In [11]:
keywords['keywords_string'] = ''

In [12]:
keywords.head

<bound method NDFrame.head of            id                                           keywords  \
0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
...       ...                                                ...
46414  439050             [{'id': 10703, 'name': 'tragic love'}]
46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

      keywords_string
0
1
2
3
4
...               ...
46414
46415
46416
46417
46418

[46419 rows x 3 columns]>

In [13]:
for i in range(keywords.shape[0]):
    #for i in range(1):
    words = ''
    json_str = keywords.iloc[i,1]
    json_str = json_str.strip('[]')
    json_str = json_str.replace('{','')
    json_str = json_str.replace('}','')
    json_list = json_str.split(',')

    for j in json_list[1::2]:
        word = j.split(':')[1].strip(' ').strip('\'')
        words += word + ' '
    
    words = words.strip(' ')
    keywords.iloc[i,2] = words

In [14]:
del keywords['keywords']

In [15]:
keywords

           id                                    keywords_string
0         862  jealousy toy boy friendship friends rivalry bo...
1        8844  board game disappearance "based on children's ...
2       15602   fishing best friend duringcreditsstinger old men
3       31357  based on novel interracial relationship single...
4       11862  baby midlife crisis confidence aging daughter ...
...       ...                                                ...
46414  439050                                        tragic love
46415  111109                                  artist play pinoy
46416   67758
46417  227506
46418  461257

[46419 rows x 2 columns]

In [16]:
keywords.dtypes

id                  int64
keywords_string    object
dtype: object

### Concat Data

In [17]:
keywords['id'] = keywords['id'].astype(str)

In [18]:
keywords.dtypes

id                 object
keywords_string    object
dtype: object

In [19]:
movie_data = pd.merge(input_data, keywords, on='id')

In [20]:
nan_value = float("NaN")
movie_data.replace("", nan_value, inplace=True)
movie_data.dropna(subset = ["title", "genre", "keywords_string"], inplace=True)

In [21]:
movie_data

,id,title,genre,keywords_string
0,862,Toy Story,Animation,jealousy toy boy friendship friends rivalry bo...
1,8844,Jumanji,Adventure,"board game disappearance ""based on children's ..."
2,15602,Grumpier Old Men,Romance,fishing best friend duringcreditsstinger old men
3,31357,Waiting to Exhale,Comedy,based on novel interracial relationship single...
4,11862,Father of the Bride Part II,Comedy,baby midlife crisis confidence aging daughter ...
...,...,...,...,...
46472,84419,House of Horrors,Horror,revenge murder serial killer new york city scu...
46473,390959,Shadow of the Blair Witch,Mystery,blair witch
46474,289923,The Burkittsville 7,Horror,witch mythology legend serial killer mockumentary
46477,439050,Subdue,Drama,tragic love
46478,111109,Century of Birthing,Drama,artist play pinoy

In [22]:
movie_data['input'] = movie_data['title'] + ' keywords ' + movie_data['keywords_string']

In [23]:
movie_data.drop(labels=['title', 'keywords_string', 'id'], axis=1, inplace=True)

In [24]:
movie_data

           genre                                              input
0      Animation  Toy Story keywords jealousy toy boy friendship...
1      Adventure  Jumanji keywords board game disappearance "bas...
2        Romance  Grumpier Old Men keywords fishing best friend ...
3         Comedy  Waiting to Exhale keywords based on novel inte...
4         Comedy  Father of the Bride Part II keywords baby midl...
...          ...                                                ...
46472     Horror  House of Horrors keywords revenge murder seria...
46473    Mystery     Shadow of the Blair Witch keywords blair witch
46474     Horror  The Burkittsville 7 keywords witch mythology l...
46477      Drama                        Subdue keywords tragic love
46478      Drama     Century of Birthing keywords artist play pinoy

[31656 rows x 2 columns]

 ### Preprocessing

In [25]:
stop_words = set(stopwords.words("english"))
lemmatizer = WordNetLemmatizer()

In [26]:
def clean_text(text):
    text = text.lower()
    text = [lemmatizer.lemmatize(token) for token in text.split(" ")]
    text = [word for word in text if  not word in stop_words]
    text = " ".join(text)
    return text

In [27]:
movie_data['Processed_input'] = movie_data.input.apply(lambda x: clean_text(x))

In [28]:
X = movie_data['Processed_input']

In [29]:
Y = movie_data['genre']
le = preprocessing.LabelEncoder()
le.fit(movie_data['genre'])
Y = le.transform(movie_data['genre'])
max(Y)

19

In [30]:
with open('Label_encoder.pickle', 'wb') as handle:
    pickle.dump(le, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [31]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(movie_data['Processed_input'])
encoded_docs = tokenizer.texts_to_sequences(movie_data['Processed_input'])

In [32]:
# saving
with open('tokenizer.pickle', 'wb') as handle:
    pickle.dump(tokenizer, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [33]:
# pad sequences
max_length = max([len(s.split()) for s in movie_data['Processed_input']])
X = pad_sequences(encoded_docs, maxlen=max_length, padding='post')
print(max_length)

193

In [34]:
X_train, X_val = X[:29656,:], X[29656:,:]

In [35]:
Y_train, Y_val = Y[:29656], Y[29656:]

### Build Neural Net

In [36]:
embeddings_dict = {}
with open("glove.6B.200d.txt", 'r') as f:
    for line in f:
        values = line.split()
        word = values[0]
        vector = np.asarray(values[1:], "float32")
        embeddings_dict[word] = vector

In [37]:
vocab_size = len(tokenizer.word_index) + 1

In [38]:
embedding_matrix = np.zeros((vocab_size, 200))
for word, i in tokenizer.word_index.items():
    embedding_vector = embeddings_dict.get(word)
    if embedding_vector is not None:
        embedding_matrix[i] = embedding_vector

In [39]:
model = Sequential()
model.add(layers.Embedding(input_dim=vocab_size, 
                           output_dim=200,
                           weights = [embedding_matrix],
                           input_length=max_length,
                           trainable=True))
model.add(Conv1D(filters=16, kernel_size=8, activation='relu'))
model.add(layers.Flatten())
model.add(layers.Dense(20, activation='sigmoid'))

In [40]:
# compile network
model.compile(loss=tf.keras.losses.SparseCategoricalCrossentropy(), optimizer='adam', metrics=['accuracy'])

In [ ]:
model.summary()

In [ ]:
# Train model with early stopping and save best model
past_accuracy = 0
session = 0
while True:
    model.fit(X_train, Y_train, batch_size=128, epochs=1, verbose=2)
    loss, accuracy = model.evaluate(X_val, Y_val)
    if past_accuracy < accuracy:
        past_accuracy = accuracy
        model_save = model
    else:
        session += 1
        if session == 3:
            break

232/232 - 52s - loss: 2.9464 - accuracy: 0.2736
63/63 [==============================] - 1s 10ms/step - loss: 2.9020 - accuracy: 0.2375

In [ ]:
model_save.save(os.getcwd() + '\movie_genre_model')